<div class="container">
  <form class="custom-form-style form-horizontal" role="form" (ngSubmit)="onSubmit()">
    <h2>Create a new car</h2>

    <div class="form-group">
      <label for="brand" class="col-sm-3 control-label">Brand</label>
      <div class="custom-style col-sm-9">
        <input type="text" id="brand" [(ngModel)]="brand" name="brand" placeholder="Brand" class="form-control" autofocus>
      </div>
    </div>

    <div class="form-group">
      <label for="country" class="col-sm-3 control-label">Country</label>
      <div class="custom-style col-sm-9">
        <select id="country" [(ngModel)]="country" name="country" class="form-control">
          <option></option>
          <option *ngFor="let country of carService.countriesStream | async">
            {{country.value}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="col-sm-3 control-label">Year </label>
      <div class="custom-style col-sm-9">
        <input type="month" id="date" [(ngModel)]="date" name="date" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="imageURL" class="col-sm-3 control-label">Image URL</label>
      <div class="custom-style col-sm-9">
        <input type="text" id="imageURL" [(ngModel)]="imageURL" name="imageURL" placeholder="Image URL" class="form-control" autofocus>
      </div>
    </div>

    <div class="form-group">
      <div class="float-right m-2">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
      </div>
    </div>
  </form>
</div>
