<form *ngIf="!(userService.isLoggedInStream | async); else alreadyLogged" class="login-container" (ngSubmit)="login()">
  <h2 class="login-form-heading">Please login</h2>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Login</button>
</form>
<ng-template #alreadyLogged>
  <div class="loggedIn">
    you are already logged in
  </div>
</ng-template>
