<mat-card *ngIf="(this.car)" class="car-card">
  <mat-card-header>
    <mat-card-title class="car-card-title">{{this.car.brand}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{this.car.imageURL}}">
  <mat-card-content>
    <p>
      <span class="font-bold">Country:</span> {{this.car.country}}
      <br>
      <span class="font-bold">Year:</span> {{this.car.year}}
    </p>
  </mat-card-content>
</mat-card>

<ng-template [ngIf]="(this.car === null)">
  <div class="error-page">
    Sorry, this page isn't available
  </div>
</ng-template>
